# npm
package-lock.json
node_modules
yarn-error.log

# vscode
.vscode
.idea

#yarn
yarn.lock

# vuepress
docs/.vuepress/dist/
docs/.vuepress/public/img/bak/
docs/@Files/文档/.obsidian/
docs/@Files/文档/未整理/
docs/@Files/文档/PDF资料/

# 百度链接推送
urls.txt

# mac
.DS_Store

deploy.sh


